@import "_type/footer__column-link_type_with-icon.css";

.footer__column-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: var(--white);
}
