@import "__columns/footer__columns.css";
@import "__column/footer__column.css";
@import "__author/footer__author.css";
@import "__column-heading/footer__column-heading.css";
@import "__column-link/footer__column-link.css";
@import "__column-links/footer__column-links.css";
@import "__icon/footer__icon.css";

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  color: var(--white);
  background-color: var(--gray-dark);
}
